@use "../abstracts/" as *;
@use "../base/" as *;

input {
  .create-account & {
    font-family: $poppins;
  }
}

.create-account{
  width: 100vw;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  &::before {
    @include position(a, top, rem(-150), left, rem(-115));
    content:url(../images/bg_bubble3.svg);
    display: block;
    width: rem(311);
    height: rem(367);
  }
  &::after {
    @include position(a, top, rem(71), right, rem(-137));
    content:url(../images/bg_bubble2.svg);
    display: block;
    width:rem(243);
    height: rem(266);
    transform: rotate(156deg);
  }
  > h1 {
    padding: rem(150) 0 rem(54) rem(30);
    box-sizing: border-box;
    font-family: $english2;
    z-index: 2;
  }
  > img {
    width: rem(90);
    height: rem(90);
    object-fit: contain;
  }
}

.file-wrapper{
  padding: 0 rem(20);
  box-sizing: border-box;
  width: 100%;
  height: rem(90);
}

.input-file {
  @include background('ico_cameras.svg', center);
  display:inline-flex;
  cursor: pointer;
}

.account-info{
  display: flex;
  flex-direction: column;
  gap: rem(8);
  padding: rem(32) rem(20) rem(52);
  box-sizing: border-box;
}


.phone__flag {
  display: inline-flex;
  @include background('ico_arrow_down.svg', right rem(15) center);
  .phone & {
    width:rem(64);
  }
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
