@use "../abstracts/" as *;
@use "../base/" as *;

.mypassword {
  flex-direction: column;
  align-items: center;
}

input {
  .mypassword & {
    width: rem(50);
  }
}

ul {
  .mypassword & {
    gap: rem(6);
  }
}