@use "../abstracts/" as *;
//36/9,30/7,50/9,55 4가지 높이 
//회색 파랑
// 9,7 radius값들
%inputBase {
  width: 100%;
  padding: 0 rem(19);
  box-sizing: border-box;
  border: none;
  color: $black;
}

@mixin inputSize($size, $rounded:$size) {
  height: rem($size);
  border-radius: rem($rounded);
}

.input {
  @extend %inputBase;
  background: $grayf8;
  &.sm {
    @include inputSize(30);
  }
  &.base {
    @include inputSize(36);
  }
  &.md {
    @include inputSize(50);
  }
  &.lg {
    @include inputSize(55);
  }
  &.rounded-sm {
    border-radius: rem(7);
  }
  &.rounded-base {
    border-radius: rem(9);
  }
  &.blue {
    background-color: $bluee5;
    &::placeholder {
      color:$blue9e;
    }
  }
  &::placeholder {
    color: $grayd2;
  }
}

