@use "../abstracts/" as *;
@use '../base/' as *;
//36/9,30/7,50/9,55 4가지 높이 
//회색 파랑
// 9,7 radius값들
%inputBase {
  width: 100%;
  padding: 0 rem(19);
  box-sizing: border-box;
  border: none;
  color: $black;
}

@mixin inputSize($size, $rounded:$size) {
  //var(지정값,기본값)
  //css 기법

  height: var(--height, rem($size));
  border-radius: rem($rounded);
}

.input {
  @extend %inputBase;
  background: $grayf8;
  &.sm {
    @include inputSize(30);
  }
  &.base {
    @include inputSize(36);
  }
  &.md {
    @include inputSize(50);
  }
  &.lg {
    @include inputSize(55);
  }
  &.rounded-sm {
    border-radius: rem(7);
  }
  &.rounded-base {
    border-radius: rem(9);
  }
  &.square {
    border-radius: 0;
  }
  &.blue {
    background-color: $bluee5;
    &::placeholder {
      color:$blue9e;
    }
  }
  &::placeholder {
    color: $grayd2;
  }
}
 //textarea 모양이 input과 동일해서 그냥 사용

.radio {
  @include a11y-hidden;
  + label {
    @include background('bg_radio_off.svg', right rem(8) center, $pinkff, rem(26) auto);
    //모바일이어서 이미지 사이즈를 넣어주는게 좋다. (auto 넣어주면 비례해서 나온다.)
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 rem(42);
    box-sizing: border-box;
    height: rem(40);
    border-radius: rem(40);
    color: $black;
    font-family: $english2;
    font-size: rem(15);
    font-weight: 500;
    letter-spacing: rem(-0.15);
  }
  &:checked {
    + label {
      @include background('bg_radio_on.svg', right rem(8) center, $bluee5, rem(26) auto);
      color: $blue;
      font-weight: 700;
    }
  }
  &:focus {
    + label {
      outline: rem(2) solid rgba($black, 0.2);
      outline-offset: rem(3);
    }
  }
}

.phone {
  @extend %inputBase;
  position:relative;
  display: flex;
  align-items: center;
  background: $grayf8;
  height: rem(55);
  border-radius: rem(55);
  > button {
    width:rem(47);
  }
  input {
    flex: 1;
    border:none;
    border-left: 1px solid #1f1f1f;
    height: rem(23);
    background-color: transparent;
    border-radius: 0;
  }
  &__list {
    position:absolute;
    top: rem(35);
    left: rem(30);
    display: none;
    &.--active {
      display: block;
    }
  }
}

.input-file{
  width: rem(90);
  height: rem(90);
}

.password {
  @extend %inputBase;
  display: inline-flex;
  background: $grayf8;
  height: rem(52);
  border-radius: rem(52);
  > button {
    &::before {
      content:url(../images/show_password.svg);
    }
    &.show {
      &::before {
        content:'⭕';
      }
    }
  }
  > input {
    padding: 0;
  }
}