@use "../abstracts/" as *;
@use "../base/" as *;

.start-list {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > button {
    margin-top: rem(106);
  }
  &::before {
    @include background('logo_bags.svg', center);
    content:"";
    width: rem(134);
    height: rem(134);
    border-radius: 100%;
    background-color: $white;
    filter: drop-shadow(0 rem(3) rem(8) rgba(0, 0, 0, 0.16));
  }
} 

.move-login {
  display: flex;
  gap: rem(16);
  margin-top: rem(24);
  font-family: $english;
  &::after {
    content: url(../images/ico_notice.svg);
  }
}

.start-text{
  &__title {
    font-family: $english2;
    margin-top: rem(24);
  }
  &__subtitle {
    font-family: $english;
    font-size: rem(19);
    color: $gray20;
    font-weight: 300;
    line-height: rem(33);
    margin-top: rem(18);
  }
}
