
$black: #000000;
$blue: #004cff;
$bluee5: #e5ebfc;
$bluef1: #f1f4fe;
$grayc7: #c7c7c7;
$grayf8: #f8f8f8;
$gray20: #202020;
$graye7: #E7E8EB;
$grayf3: #F3F3F3;
$green: #08c514;
$option1: #ebebeb;
$pinkff: #ffebeb;
$pink: #ff5790;
$white: #ffffff;
